<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hobby: Videojuegos</title>
    <link rel="stylesheet" href="../static/style/estilo-musica.css">
    
</head>
<body>
    <div class="card">
        <h1> 🎧 Tambien soy amante de la musica</h1>
        <p>Esta hace que me pierda de todos mis problemas y logro conectar con ella en muchos aspectos </p>
        <h2>Mis artistas favoritos son :</h2>
        <div class="gallery">
            <div class="game">
                <img src="{{url_for('static',filename='images/LUAR.jpg')}}" alt="LUAR">
                <p> LUAR LA L</p>
            </div>
            <div class="game">
                <img src="{{url_for('static',filename='images/hades66.png')}}" alt="hades66">
                <p>Hades66</p>
            </div>
            <div class="game">
                <img src="{{url_for('static',filename='images/blessd.jpg')}}" alt="blessd">
                <p>blessd</p>
            </div>
        </div>
    </div>
</body>
</html>
