{% extends 'base.html' %}

{% block title %}Editar Curso{% endblock %}

{% block content %}
<h2>Editar Curso</h2>
<form method="post">
    <div class="mb-3">
        <label>Nombre</label>
        <input type="text" name="nombre" class="form-control" value="{{ curso.nombre }}" required>
    </div>
    <div class="mb-3">
        <label>Descripción</label>
        <textarea name="descripcion" class="form-control" required>{{ curso.descripcion }}</textarea>
    </div>
    <button type="submit" class="btn btn-primary">Actualizar</button>
    <a href="{{ url_for('cursos') }}" class="btn btn-secondary">Cancelar</a>
</form>
{% endblock %}