<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hobby: Videojuegos</title>
    <link rel="stylesheet" href="../static/style/estilo-musica.css">
    
</head>
<body>
    <div class="card">
        <h1> ⚡ Me encanta ver peliculas, series, anime</h1>
        <p>De una u otra manera es algo que me relaja y por asi decirlo me motiva en cierta forma </p>
        <h2>Suelo ver:</h2>
        <div class="gallery">
            <div class="game">
                <img src="{{url_for('static',filename='images/marvell.png')}}" alt="marvell">
                <p> sagas de marvel</p>
            </div>
            <div class="game">
                <img src="{{url_for('static',filename='images/gachiakuta.png')}}" alt="gachiakuta">
                <p>Anime/manga</p>
            </div>
            <div class="game">
                <img src="{{url_for('static',filename='images/jigsaw.jpg')}}" alt="jigsaw">
                <p>Pelis de miedo</p>
            </div>
        </div>
    </div>
</body>
</html>
